<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/login.css"/>

<!-- 引入jquery -->
<script type="text/javascript" src="js/jquery.min.js">
</script>
</head>
	<body>
	<form action="/login" method="get">
		<div class="global">
			<div class="log log_in" tabindex='-1' id='dl'>
				<dl>
					<dt>
						<div class='header'>
							<h3>密码修改成功</h3>
						</div>
					</dt>
						
						<div>
							<input type="submit" name="" id="login" value='点击重新登录' tabindex='3'/>
						</div>
					</dt>
				</dl>
			</div>	
		</div>
	</form>
	</body>
</html>